.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(53, 57, 154, 0.3);
}

.menu-button {
    position: absolute;
    background-color: white;
    top: 5px;
    right: 5px;
}

.action-button {
    position: absolute;
    background-color: white;
    top: 50%;
    left: calc(50% - 12.5px);
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.preview-image {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
