.video-name {
    border-bottom: 1px dashed transparent;
    transition: border-bottom 0.3s ease;
    color: var(--chakra-colors-white);
    text-overflow: ellipsis;
    border-radius: 0;
}

.video-name:hover {
    border-bottom: 1px dashed var(--chakra-colors-background-300);
}

.video-name:focus {
    border-bottom: 1px solid var(--chakra-colors-background-300);
}
