.logo {
    margin-bottom: 50px;
    display: flex;
}

.logo img {
    margin-right: 10px; /* Optional: Add space between the images */
  }
  
.heading {
    color: white;
    margin-bottom: 6px;
    font-size: 30px;
}

.text {
    margin-bottom: 24px;
    font-size: 14px;
}
