.menu-body {
    position: fixed;
    top: 40%;
    transform: translateY(-50%);
    left: 100px;
    height: 55vh;
    width: 335px;
    padding: 12px 18px 0 18px;
    z-index: 1000;
    border-radius: 8px;
    box-shadow: lg;
    color: white;
}

.menu-body-content {
    overflow-y: auto;
    max-height: calc(100% - 70px);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.menu-body-content::-webkit-scrollbar {
    display: none;
}
