.message-box__container {
    width: 100%;
}
.message-box__container--user {
    align-self: 'flex-start';
}
.message-box__container--ai {
    align-self: 'flex-end';
}
.message-box {
    flex-direction: column;
}
.message-box--user {
    align-items: 'flex-end';
    margin-left: '50px';
    margin-right: '10px';
}
.message-box--ai {
    align-items: 'flex-start';
    margin-left: '10px';
    margin-right: '50px';
}
