.container {
    background-color: var(--chakra-colors-background-50);
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.inner-container {
    max-width: 870px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10vh;
}
