
.timeCursor {
    height: 100%;
    width: 5px;
    z-index: 3;
    background-color: red;
    position: absolute;
    cursor: pointer;
}

.timeCursorArrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid red;
    position: absolute;
    top: -5px;
    left: -2.5px;
}
