.time-axis {
    height: 20px;
    position: relative;
    overflow: hidden;
}

.marker-container {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
}

.marker-line {
    width: 1px;
}

.marker-label {
    padding-left: 3px;
    align-self: flex-start;
}
