.sidebar {
    width: 100%;
}

.sidebarContainer {
    background-color: var(--chakra-colors-background-900);
    height: calc(100vh - 75px);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 20px;
}

.iconButton {
    justify-content: flex-end;
}

.iconButtonCollapsed {
    justify-content: center;
}

.userBox {
    margin-bottom: 30px;
}

.contentBox {
    flex: 1;
}

.sidebarItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}

.itemJustifyCenter {
    justify-content: center;
}

.itemJustifyStart {
    justify-content: flex-start;
}