.sequence {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.background {
    background-size: cover;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.image {
    position: absolute;
    object-fit: contain;
    bottom: 0;
}
