.sequence {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.image {
    position: absolute;
    object-fit: cover;
    z-index: 2;
    height: 100%;
    width: 100%;
}

.background {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
}

.avatar {
    z-index: 3;
    position: absolute;
    object-fit: contain;
    bottom: 0;
}
